@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* the font i imported here is saved on desktop. check it out */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    /* height: 100vh; */
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
    margin-left: 20px;
}

.navbar {
    background-color: #1f2937;
    margin-bottom: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
     font-size: 24px;
     color: #f9faf8;
}

.intro-head {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
}

a, .intro-para {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.section-one {
    margin-top: 0;
    background-color: #1f2937;
}

.intro-sign-up {
    background-color: #3882f6;
    padding: 8px 25px;
    color: white;
    border: none;
    border-radius: 5px;
}

.section-one .container {
    display: flex;
    padding: 50px;
    gap: 50px;
}



.navbar .container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
}

/* some random information */
/* the padding is there to create space around this heading */
.container .boxes-heading {
    text-align: center;
    margin-bottom: 30px;

/* instructions said */
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

/* the four images have a container called .boxes */
/* the boxes are flexed and aligned in the center both horizontally and vertically */
/* each item in .boxes is gapped 10px from each other */
.content .boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* the 4 individual images were styled the same with the .img class*/
/* border-box has been declared to make the size/content of the box exactly 200px */
/* if not the total size will be 202px including the 2px border around the image */
/* this is done so that the box will be exactly the same width as the caption */
.content .img {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border: 2px solid #3882f6;
    border-radius: 8px;
}

/* THE FOUR ITEMS FLEXED ARE ACTUALLY TWO BLOCK ELEMENTS. THE IMG AND A DIV AS ITS CAPTION */

/* had border-box not been declared in .img to remove the weird 2px margin to the right of this caption */
/* the size must be declared here to restrict the width of the caption to stay under the images */
/* and aligned center to look nice */
.content .box-caption {
    width: 200px;
    text-align: center;
}

/* creating some padding around the content in .container so they are far from the other sections  */
.content .container {
    padding: 30px 20px 50px;
}

/* QUOTE SECTION */

/* recommended color on the main article container so every item inside can inherit it  */
/* in other to center contents, it's best to center from the main container. i struggled with this */
article {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* width is there to wrap the content to the number of lines i wanted */
/* the rest are recommended styles */
.container .quote-container {
    width: 950px;
    font-size: 36px;
    color: #1f2937;
    padding: 80px 10px 80px;
}

/* i think putting italics in css gives you more pixel precision than inside the HTML */
/* sticking to this */
.container .quote {
    font-style: italic;
}

/* i thought i'd have to flex and change flex direction but it is this simple */
/* putting this inside its own div, it is this simple to style this way. */
/* always use start center end NOT left center right */
.container .author {
    text-align: end;
    font-size: 24px;
    font-weight: bold;
}

/* to get the text and button in the 'call to action' to align centrally */
.call-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* the width specified the size you see on the size. if not the container takes the full page */

/* notice you don't have to put a border before declaring a border-radius */
.call-action .container {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    color: white;
    margin: 70px 50px;
    padding: 30px 100px;
    border-radius: 8px;
}

/* recommended styles for the text in 'call to action' */
.call-action .call-action-text {
    font-size: large;
    font-weight: bold;
}

/* recommended styles for the sign up button in 'call to action' */
.call-action .button-two {
    background-color: #3882f6;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 25px;
}

/* footer recommended style */
footer {
    background-color: #1f2937;
    color: #fff;
    text-align: center;
    padding: 20px 50px;
}